@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

*,
body {
  margin: 0;
  padding: 0;
  color: #333;
  box-sizing: border-box;
  letter-spacing: -0.2px;
  font-family: "Noto Sans KR", sans-serif;
}
a {
  text-decoration: none;
  color: #333;
}
li {
  list-style: none;
}
em {
  font-style: normal;
}
.wrap {
  width: 980px;
  height: 100%;
  margin: 0 auto;
}
.blind {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}
